@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.loader {
  height: 500px;
  display: grid;
  place-items: center;
}